.DS_Store
Derelict.materials/Release/
Derelict.inform/Build/
Derelict.inform/Index/
Derelict.inform/Metadata.iFiction
Derelict.inform/Release.blurb
Derelict.inform/manifest.plist
Derelict.inform/notes.rtf
Derelict.inform/Skein.skein
Derelict.inform/Settings.plist
*.html